<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .del {
            text-decoration: line-through;
        }
    </style>

    <title>Document</title>

</head>

<body>
    <div id="app">
        <!-- 製作進階待辦清單，必須要有下列功能：

        新增功能，兩個字以上才能新增
        小於兩個字時輸入欄位邊框是紅色，成功時是藍色，空白時是黑色
        每個項目有 checkbox 可以打勾標記已完成或未完成，完成的項目文字必須要有刪除線
        可以個別刪除清單項目
        可以將清單資料保存到 localStorage
        可以點兩下清單項目開啟編輯欄位
        在編輯欄位按 ENTER 可以儲存編輯
        在編輯欄位可以按 ESC 鍵可以取消編輯
        可以點按鈕過濾顯示全部項目、已完成項目、未完成項目
        可以顯示目前過濾的方式及過濾後的項目總數
        可以點按鈕一次刪除全部項目、已完成項目、未完成項目
        可以點按鈕將所有項目標記為已完成
        可以點按鈕將所有項目標記為未完成 -->
        <input v-model="newItem" type="text" @keydown.enter="add" :style=" { border: '5px solid' + borderColor } ">
        <input type="button" value="x" @click="add">
        <hr>
        <input type="button" value="顯示全部" @click="filter = '全部'">
        <input type="button" value="顯示已完成" @click="filter = '已完成'">
        <input type="button" value="顯示未完成" @click="filter = '未完成'">
        <hr>
        <input type="button" value="刪除全部" @click="del('全部') ">
        <input type="button" value="刪除已完成" @click="del('已完成') ">
        <input type="button" value="刪除未完成" @click="del('未完成') ">
        <hr>
        <input type="button" value="顯示已完成" @click="done('true') ">
        <input type="button" value="顯示未完成" @click="done('false') ">
        <hr>
        <ul>
            <li v-for="(item,index) in filteredItems">
                <input type="checkbox" name="" id="" :checked="item.done" @change="toggle(item)">
                <span :class="{del:item.done}" @dblclick="edit(item)">{{item.text}}</span>
                <div v-if="item.edit" v-model="item.model" @keydown.enter="editFinish(item)"
                    @keydown.esc="editCancel(item)"></div>
                <input type="button" value="x" @click="delOne(item)">
            </li>
        </ul>
    </div>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            name: 'app',
            data: {
                newItem = '',
                items=[],
                filter: '全部'
            },
            methods: {
                add() {
                    if (newItem >= 2) {
                        this.push({ done: false, text: this.newItem, edit: false, model: this.newItem })
                        this.newItem = ''
                    }
                },
                toggle(item) {
                    item.done = !item.done
                },
                delOne(item) {
                    const index = this.items.indexOf(item)
                    this.items.splice(index, 1)
                },
                edit(item) {
                    item.edit = true
                },
                editFinish(item) {
                    item.edit = false
                    item.text = item.model
                },
                editCancel(item) {
                    item.edit = false
                    item.model = item.text
                }
            },
            computed: {
                borderColor() {
                    return (newItem = 0) ? 'black' : (newItem >= 2) ? 'green' : 'red'
                },
                filteredItems() {
                    switch (this.filter) {
                        case '全部':
                            return this.items
                            break
                        case '已完成':
                            return this.items.filter(item => {
                                // if (this.done === true) {
                                //     return true
                                // }
                                // 下方簡寫
                                return this.done === true
                            })
                            break
                        case '未完成':
                            return this.items.filter(item => {
                                return item.done === false
                            })
                            break
                        default:
                            break;
                    }
                },
                del(filter) {
                    switch (this.filter) {
                        case '全部':
                            this.items = []
                            break
                        case '未完成':
                            this.items = this.items.filter(item => {
                                // if (this.done === true) {
                                //     return true
                                // }
                                // 下方簡寫
                                return this.done === true
                            })
                            break
                        case '已完成':
                            this.items = this.items.filter(item => {
                                return item.done === false
                            })
                            break
                        default:
                            break;
                    }
                }, 
                done(data) {
                    for (const item of this.items) {
                        this.done = data
                    }
                }
            },
            watch: {
                items: {
                    deep: true,
                    headLer() {
                        localStorage.setItem('aaa', JSON.stringify(this.items))
                    }
                }
            },
            mounted() {
                const data = localStorage.getItem('aaa')
                if (data !== null) {
                    this.items = JSON.parse(data)
                }
            }
        })
    </script>
    <script>

    </script>
</body>

</html>